<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rbq.mybatisplus.mapper.StudentMapper">
    <resultMap id="studentMap" type="com.rbq.mybatisplus.entity.Student">
        <id column="sid" property="stuId"/>
        <result column="sname" property="stuName"/>
        <result column="sage" property="stuAge"/>
        <!--如果是对象 使用 association-->
        <association property="clazz" select="com.rbq.mybatisplus.mapper.ClazzMapper.queryClazzById" column="scid"/>
    </resultMap>
    <!-- 根据id查询学生的信息-->
    <select id="queryStudentById" resultMap="studentMap">
        select sid, sname, sid, sage, scid
        from students s
        where s.sid = #{sid}
    </select>
    <!-- 这个操作时根据课程的id查询学生的信息-->
    <resultMap id="studentMap2" type="com.rbq.mybatisplus.entity.Student">
        <id column="sid" property="stuId"/>
        <result column="sname" property="stuName"/>
        <result column="sage" property="stuAge"/>
    </resultMap>
    <!--通过课程的id查询学生的信息-->
    <select id="queryStudentByCourseId" resultMap="studentMap2">
        select s.sid, sname, s.sage
        from students s
                 inner join grades g on s.sid = g.sid
        where g.cid = #{courseId}
    </select>

</mapper>
