<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rbq.mybatisplus.mapper.UserMapper">
    <!--    根据分页查询自己的数据-->
    <select id="queryUserByPage" parameterType="long" resultType="com.rbq.mybatisplus.entity.User">
        select *
        from user
        where id = #{id}
    </select>
    <!--    根据age查询用户-->
    <select id="selectPageVo" resultType="com.rbq.mybatisplus.entity.User" parameterType="integer">
        select id, name, age, email
        from user
        where age > #{age}
    </select>
</mapper>
